/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/*
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services")
Uitzonderingen:

Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
*/

:root {

}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------- 2. Typography ----------------------------------- */

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 ,h5, h6 {
    font-family: 'Merriweather', serif;
    margin-bottom: 25px;
}

li {
    list-style: none;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.inner-container {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 20px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 40px;
}

.content {
    padding: 60px;
}
/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    position: relative;
}

.header-content {
    margin-bottom: 80px;
}

.header-background {
    background-color: #4845E4;
}

header h1, header h4  {
    color: white;
}

nav {
    display: flex;
    background-color: #4845E4;
    justify-content: flex-end;
}

nav li a {
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin: 0 20px;
    padding: 20px;
}

.header-button {
    padding: 20px 30px;
    background-color: #ED4385;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
    filter: drop-shadow(6px 5px 5px black);
    margin-bottom: 30px;
}

.squiggle {
    position: absolute;
    bottom: 0;
}

.squiggle img {
    width: 50px;
}

/* --------------- 4.2 Introduction ------------------- */

.content h3 {
    color: #4845E4;
}

.lower-content  {
    margin-bottom: 40px;
}

.section-container {
    padding: 50px;
}

/* --------------- 4.3 Main content ------------------- */

.inner-container2 {
    flex-basis: 1600px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-bottom: 120px;
}

.content-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 40px;
}

.content-main-left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 40px;
}

.text-container {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 40px;
    align-self: center;
}

.image-container {
    display: flex;
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.backdrop-image {
    filter: drop-shadow(2px 10px 10px #676767);
}

.main-images{
    width: 100%;
}

.squiggle-image {
    margin-bottom: 35px;
}

.text-container p {
    margin-bottom: 25px;
}

.text-container a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.text-container a:hover {

}

.background-main {
    background-color: #F3F6F9;
}

/* ------------------------------- 4.4 Services -------------------------------- */

.inner-container3 {
    flex-basis: 1300px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 20px;
    margin-top: 40px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.services {
    flex-basis: 300px;
    height: 280px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 40px;
    border: 2px solid #5722CD;
    box-shadow: 2px 2px 10px #a6a5a5;
}

.services img {
    width: 20%;
    margin-bottom: 10px;
}

.services h4 {
    color: #5722CD;
}

.services p {
    color: #7A7A7A;
}

/* ------------------------------- 4.5 Contact form -------------------------------- */

.background-contact {
    background-color: #5722CD;
    color: white;
}

.form-content {
    padding: 60px;
    width: 100%;
}

.contact {
    text-align: left;
}

label {
    margin-top: 25px;
    margin-bottom: 5px;
}

.contact {
    display: flex;
    flex-direction: column;
}

#name, #email, #message {
    padding: 10px;
    width: 100%;
}

/* ------------------------------- 4.6 Footer -------------------------------- */

footer {
    background-color: #0C0C0C;
    padding: 20px;
    color: white;
}

/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen and (max-width: 930px) {
    .content-main {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .content-main-left {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .image-container {
        display: flex;
        flex-basis: 300px;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .main-images{
        width: 100%;
    }

    nav {
        display: flex;
        background-color: #4845E4;
        justify-content: center;
    }
}